{% extends 'base.html' %}
{% block stylesheet %}
<style>
    #carouselExampleControls{
        display:none;
    }
    #slide_img{
        max-height: 400px;
    }
    .jumbotron{
        padding-top: 10px;
    }

</style>
{% endblock %}
{% block scripts%}
    <script>
      $(document).ready(function() {

        var show_slideshow = "{{ show_slideshow }}"

        if (show_slideshow === "True"){
            $('#carouselExampleControls').show()
        }

        function runEffect() {
            var selectedEffect = "fade";
            $( "#carouselExampleControls" ).toggle( selectedEffect, 1 );
            };

        $( "#toggler_b" ).on( "click", function() {
            runEffect();
        });
      } );

    </script>
{% endblock %}

{%block content%}
    {% if not albums %}
        <div class="jumbotron">
            <div class="container-fluid">
                <h1 class="display-4 text-center">Your gallery is empty!</h1>
                <p class="lead text-center">Go ahead and upload a few pictures.</p>
                <hr class="my-4">
                <p class="lead">
                    <a class="btn btn-secondary btn-lg btn-block" href="{% url 'upload' %}">Get uploading!</a>
                </p>
            </div>
        </div>
    {% endif %}
    {% if albums %}
        <div class="jumbotron text-center">
            <h1 class="fw-light text-lg-start mb-0">Django Gallery</h1><br>
            <a class="btn btn-secondary btn-lg btn-block" href="{% url 'upload' %}">Upload image / Create albums</a><br>
            <hr class="mt-2 mb-3">
            <h4 class="mb-3">View your albums: </h4>
            <div id="sortable" class="row text-center text-lg-start ">
                {% for album in albums %}
                    <div id="album_links" class="col-6" >
                        <a class="btn btn-outline-secondary btn-block mb-2" href="{% url 'albumgallery' album.id %}" role="button">{{ album.album_name }}</a>
                    </div>
                {% endfor %}
            </div>
            <hr class="mt-4 mb-3">

        
            {% if images %}
            <button type="button" class="btn btn-secondary mb-3" id="toggler_b">Toggle slideshow</button>
            <div id="carouselExampleControls" class="carousel slide " data-ride="carousel">
                <div  class="carousel-inner ">

                {% for image in images %}
                    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                        <p class="h5">Album: {{ image.album.album_name }}</p> 
                        <div id="carousel-inner" class="d-flex justify-content-center">
                            <img class="d-block " srcset="{{image.img_s.url}} 320w, {{image.img_m.url}} 640w, {{image.img_l.url}} 1024w"
                            sizes=" (min-width: 1400px) 1024px,
                            (max-width: 900px) 320px, 640px, "
                            src ="{{image.img_s.url}}" alt="Image slide">
                        </div>
                    </div>
                    

                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                {% endfor %} 

                
                </div>
            </div> 
            {% endif %}
        </div>       
    {% endif %}
{% endblock content %}